<% provide(:title, 'User All Office' ) %>

<h1>出勤中社員一覧</h1>

<div>
  <table class="table table-bordered table-striped table-user-office" >
    <thead>
      <tr>
        <td>社員番号</td>
        <td>名前</td>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |attendance| %>
        <tr>
          <% if attendance.started_at.present? && attendance.finished_at.blank? && (Date.current == attendance.worked_on) %>
            <td><%= attendance.user.employee_number %></td>
            <td><%= attendance.user.name %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>